@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(12, 0, 32, .08);
  --badge-outline: rgba(12, 0, 32, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(12, 0, 32, .03);
  --elevate-2: rgba(12, 0, 32, .08);
  --background: 0 0% 100%;
  --foreground: 262 100% 6%;
  --border: 262 60% 6%;
  --card: 240 11% 98%;
  --card-foreground: 262 100% 6%;
  --card-border: 240 11% 94%;
  --sidebar: 240 11% 96%;
  --sidebar-foreground: 262 100% 6%;
  --sidebar-border: 240 11% 92%;
  --sidebar-primary: 242 100% 66%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 243 100% 96%;
  --sidebar-accent-foreground: 242 100% 66%;
  --sidebar-ring: 242 100% 66%;
  --popover: 0 0% 100%;
  --popover-foreground: 262 100% 6%;
  --popover-border: 240 11% 93%;
  --primary: 242 100% 66%;
  --primary-foreground: 0 0% 100%;
  --secondary: 243 100% 97%;
  --secondary-foreground: 242 100% 66%;
  --muted: 240 11% 96%;
  --muted-foreground: 262 8% 44%;
  --accent: 243 100% 96%;
  --accent-foreground: 242 100% 66%;
  --destructive: 22 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --input: 262 60% 6%;
  --ring: 242 100% 66%;
  --chart-1: 242 100% 66%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 49%;
  --chart-5: 22 100% 50%;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;
  --shadow-2xs: rgba(12, 0, 32, 0.04) 0px 1px 2px 0px;
  --shadow-xs: rgba(12, 0, 32, 0.04) 0px 2px 4px 0px;
  --shadow-sm: rgba(12, 0, 32, 0.08) 0px 0px 0px 1px;
  --shadow: rgba(12, 0, 32, 0.08) 0px 2px 4px -1px;
  --shadow-md: rgba(12, 0, 32, 0.08) 0px 16px 24px -8px;
  --shadow-lg: rgba(12, 0, 32, 0.04) 0px 5px 11px 0px, rgba(12, 0, 32, 0.03) 0px 20px 20px 0px, rgba(12, 0, 32, 0.02) 0px 46px 27px 0px, rgba(12, 0, 32, 0.01) 0px 81px 32px 0px, rgba(12, 0, 32, 0) 0px 127px 36px 0px;
  --shadow-xl: rgba(12, 0, 32, 0.08) 0px 20px 40px -12px;
  --shadow-2xl: rgba(12, 0, 32, 0.12) 0px 30px 60px -20px;
  --tracking-normal: 0em;
  --spacing: 1rem;

/* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255, 255, 255, .10);
  --badge-outline: rgba(255, 255, 255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255, 255, 255, .04);
  --elevate-2: rgba(255, 255, 255, .09);
  --background: 262 100% 6%;
  --foreground: 0 0% 100%;
  --border: 0 0% 100%;
  --card: 262 100% 13%;
  --card-foreground: 0 0% 100%;
  --card-border: 262 100% 16%;
  --sidebar: 262 100% 11%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-border: 262 100% 14%;
  --sidebar-primary: 243 100% 73%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 242 100% 66%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-ring: 243 100% 73%;
  --popover: 262 100% 6%;
  --popover-foreground: 0 0% 100%;
  --popover-border: 262 100% 10%;
  --primary: 243 100% 73%;
  --primary-foreground: 0 0% 100%;
  --secondary: 242 100% 66%;
  --secondary-foreground: 0 0% 100%;
  --muted: 262 100% 13%;
  --muted-foreground: 262 2% 81%;
  --accent: 242 100% 66%;
  --accent-foreground: 0 0% 100%;
  --destructive: 22 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --input: 0 0% 100%;
  --ring: 243 100% 73%;
  --chart-1: 243 100% 73%;
  --chart-2: 173 58% 65%;
  --chart-3: 197 37% 58%;
  --chart-4: 43 74% 66%;
  --chart-5: 22 100% 60%;
  --shadow-2xs: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  --shadow-xs: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px;
  --shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  --shadow-md: rgba(0, 0, 0, 0.5) 0px 16px 24px -8px;
  --shadow-lg: rgba(0, 0, 0, 0.4) 0px 5px 11px 0px, rgba(0, 0, 0, 0.3) 0px 20px 20px 0px, rgba(0, 0, 0, 0.2) 0px 46px 27px 0px;
  --shadow-xl: rgba(0, 0, 0, 0.5) 0px 20px 40px -12px;
  --shadow-2xl: rgba(0, 0, 0, 0.6) 0px 30px 60px -20px;

/* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/**
 * Using the elevate system.
 * Automatic contrast adjustment.
 *
 * <element className="hover-elevate" />
 * <element className="active-elevate-2" />
 *
 * // Using the tailwind utility when a data attribute is "on"
 * <element className="toggle-elevate data-[state=on]:toggle-elevated" />
 * // Or manually controlling the toggle state
 * <element className="toggle-elevate toggle-elevated" />
 *
 * Elevation systems have to handle many states.
 * - not-hovered, vs. hovered vs. active  (three mutually exclusive states)
 * - toggled or not
 * - focused or not (this is not handled with these utilities)
 *
 * Even without handling focused or not, this is six possible combinations that
 * need to be distinguished from eachother visually.
 */
@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  /* .no-default-hover-elevate/no-default-active-elevate is an escape hatch so consumers of
   * buttons/badges can remove the automatic brightness adjustment on interactions
   * and program their own. */
  .no-default-hover-elevate {}

  .no-default-active-elevate {}


  /**
   * Toggleable backgrounds go behind the content. Hoverable/active goes on top.
   * This way they can stack/compound. Both will overlap the parent's borders!
   * So borders will be automatically adjusted both on toggle, and hover/active,
   * and they will be compounded.
   */
  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: -1;
    /* sits behind content but above backdrop */
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.toggle-elevate::before {
    inset: -1px;
  }

  /* Does not work on elements with overflow:hidden! */
  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: 999;
    /* sits in front of content */
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}
